<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title><%= htmlWebpackPlugin.options.title %></title>
  		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!--<link rel="stylesheet" type="text/css" href="css/main.css"/>-->
	</head>
	<body>
		<div id="box"></div>
		<div id="box1"></div>
		<div id="box2"></div>
		<div id="box3"></div>
		<div id="box4"></div>
		<div id="box5"></div>
		
		<div class="box">添加样式</div>
		<img src="./images/slide3.jpg"/>
		<p class="box">我是P标签</p>
	</body>
	<!--<script src="./js/main.js" type="text/javascript" charset="utf-8"></script>-->
</html>
